*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --cor1: #011212;
    --cor2: #022601;
    --cor3: #0A4001;
}

/*mobile first*/

body{
    background-color: #011212;
    width: 100vw;
    height: 100vh;
}

main{
   position: relative;
    width: 100vw;
    height: 100vh;
}

#login{
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #0A4001;
    transition: width 0.5s, hight 0.5s;
    transition-timing-function: ease;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imagem{
  background-image: url(../imagens/ng_wallpaper\ 1.JPG); 
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 310px;
  height: 200px;
  border: 1px solid black;
}

#form > h1{
     text-align: center;
     margin-bottom: 6px;
}

#form > p{
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 15px;
}


.campo{
    background-color: #082f01f1;
    border: 2px solid #082f01f1;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    margin: 5px auto;
}

.campo > label{
    display: none;
}

.campo > span{
    color: rgb(220, 219, 219);

    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input{
    background-color: #80bb75;
    font-size: 1em;
    width: calc(100% - 40px);
    height: 100%;
    border-radius: 10px;

    transform: translate(40px, -42px);
}

.campo > input:focus-within{
    background-color: white;
}


#entrar{
    background-color: #0A4001;
    color: white;
    font-size: 1em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.747);
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 7px;
    width: 90%;
    height: 40px;
}

#entrar:hover{
    background-color: #082f01;
    cursor: pointer;
}

.botao{
   display: block;
   text-align: center;
   font-size: 1em;
   width: 90%;
   height: 40px;
   margin: auto;
   background-color: #ffffff;
   color: #082f01;
   border: 1px solid #0A4001;
   border-radius: 10px;
   text-decoration: none;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.518);
}

.botao:hover{
    background-color: #0A4001;
    color: white;
}

.botao > p{
    padding-top: 7px;
}

#ic{
    font-size: 0.8em;

}